.notification {
  background: orange;
  margin-top: 5px;
  padding: 5px;
  text-align-last: center;
}
.notification.success {
  background: green;
}
.notification.error {
  background: red;
}
